<!DOCTYPE html>
{%  extends 'basic_app/base.html' %}

{% block content_body %}
    <h1>Please Login</h1>
    <div class="jumbotron">
        <form action="{% url 'basic_app:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="" placeholder="Enter Username">

            <label for="password">Password:</label>
            <input type="password" name="password" id="">

            <input type="submit" value="Login">
        </form>
    </div>
{% endblock %}